@import "shadcn/tailwind.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 5%;

    --border: 0 0% 90%;
    --input: 0 0% 90%;

    --primary: 0 0% 5%;
    --primary-foreground: 0 0% 100%;

    --accent: 0 0% 96%;
    --accent-foreground: 0 0% 5%;
  }

  body {
    @apply bg-background text-foreground font-body;
  }

  h1,
  h2,
  h3 {
    @apply font-heading;
  }
}
